body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-left: 30%;
    padding-right: 30%;
}

a {
    text-decoration: none;
}

h1 .title {
    font-size: larger;
}

.project {
    border: 1px black solid;
    padding: 10px;
}

.project h1 {
    font-size: large;
}

.project h2 {
    font-size:medium;
}

a .github_project {
    color: gray;
}
